# Exploring the data stucture
- how many rows and columns do i have 
- what kind of data do i have
- Are there missing values

In [4]:
df.shape

df.columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 27 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   provider_code                                                                        198 non-null    object
 1   region                                                                               198 non-null    object
 2   trust_name                                                                           198 non-null    object
 3   type_1_ae_attendances                                                                198 non-null    float64
 4   type_2_ae_attendances                                                                198 non-null    float64
 5   type_3_ae_attendances                                                                198 non-null    float64
 6   total_ae_attendances                                                                 198 non-null    float64
 7   seen_4_hours                                                                         198 non-null    float64
 8   type_2_seen_4_hours                                                                  198 non-null    float64
 9   type_3_seen_4_hours                                                                  198 non-null    float64
 10  4hrs_from_arrival                                                                    198 non-null    float64
 11  ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge  198 non-null    float64
 12  type_1_admissions                                                                    198 non-null    float64
 13  type_2_admissions                                                                    198 non-null    float64
 14  type_3_admissions                                                                    198 non-null    float64
 15  _seen_4_hours                                                                        198 non-null    object
 16  admissions_4hrs_from_decision                                                        198 non-null    object
 17  admissions_12hrs_from_decision                                                       198 non-null    object
 18  other_emergency_admissions                                                           198 non-null    object
 19  total_emergency_admissions                                                           198 non-null    float64
 20  elective_admissions                                                                  198 non-null    float64
 21  cancelled_elective_admissions                                                        198 non-null    float64
 22  delayed_transfers                                                                    198 non-null    float64
 23  bed_days                                                                             198 non-null    float64
 24  staff_shortages                                                                      198 non-null    float64
 25  covid_admissions                                                                     198 non-null    float64
 26  notes                                                                                198 non-null    float64
dtypes: float64(20), object(7)
memory usage: 44.8+ KB

In [22]:
# Save updated DataFrame to CSV
df.to_csv('/Users/winifred/Documents/NHS-Wait-Time-Analysis/Data/Cleaned/nhs_ae_cleaned.csv', index=False)

In [6]:
import numpy as np

df.replace('', np.nan, inplace=True)

df.head()

,provider_code,region,trust_name,type_1_ae_attendances,type_2_ae_attendances,type_3_ae_attendances,total_ae_attendances,seen_4_hours,type_2_seen_4_hours,type_3_seen_4_hours,...,admissions_12hrs_from_decision,other_emergency_admissions,total_emergency_admissions,elective_admissions,cancelled_elective_admissions,delayed_transfers,bed_days,staff_shortages,covid_admissions,notes
0,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026.0,0.0,9599.0,26625.0,9553.0,0.0,9599.0,...,-,1,4678.0,0.0,0.0,4678.0,2325.0,7003.0,9.0,9.0
1,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282.0,0.0,6535.0,17817.0,6325.0,0.0,6400.0,...,-,0.9793420045906657,2764.0,0.0,35.0,2799.0,436.0,3235.0,1030.0,417.0
2,RWH,NHS England East Of England,East And North Hertfordshire NHS Trust,9225.0,0.0,8769.0,17994.0,4618.0,0.0,8660.0,...,-,0.987569848329342,2849.0,0.0,3.0,2852.0,228.0,3080.0,407.0,170.0
3,RDE,NHS England East Of England,East Suffolk And North Essex NHS Foundation Trust,13117.0,0.0,15563.0,28680.0,7469.0,0.0,15008.0,...,-,0.9643384951487503,6306.0,0.0,386.0,6692.0,1212.0,7904.0,1709.0,733.0
4,RY4,NHS England East Of England,Hertfordshire Community NHS Trust,0.0,0.0,1223.0,1223.0,0.0,0.0,1185.0,...,-,0.9689288634505315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
null_counts = df.isnull().sum()
print(null_counts[null_counts > 0])

provider_code                                                                          14
region                                                                                 14
trust_name                                                                             14
type_1_ae_attendances                                                                  14
type_2_ae_attendances                                                                  14
type_3_ae_attendances                                                                  14
total_ae_attendances                                                                   14
seen_4_hours                                                                           14
type_2_seen_4_hours                                                                    14
type_3_seen_4_hours                                                                    14
4hrs_from_arrival                                                                      14
ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge    14
type_1_admissions                                                                      14
type_2_admissions                                                                      14
type_3_admissions                                                                      14
_seen_4_hours                                                                          14
admissions_4hrs_from_decision                                                          14
admissions_12hrs_from_decision                                                         14
other_emergency_admissions                                                             14
total_emergency_admissions                                                             14
elective_admissions                                                                    14
cancelled_elective_admissions                                                          14
delayed_transfers                                                                      14
bed_days                                                                               14
staff_shortages                                                                        14
covid_admissions                                                                       14
notes                                                                                  14
dtype: int64

# NHS A&E Dataset - Exploration (March 2025)

# Load your Excel or CSV file
# Clean column names
# remove leading/trailing spaces
# remove special characters
# replace spaces with underscores

# Preview new headers


# Save cleaned version (optional)

In [10]:
df.isnull().sum()

provider_code                                                                          14
region                                                                                 14
trust_name                                                                             14
type_1_ae_attendances                                                                   0
type_2_ae_attendances                                                                   0
type_3_ae_attendances                                                                   0
total_ae_attendances                                                                    0
seen_4_hours                                                                            0
type_2_seen_4_hours                                                                     0
type_3_seen_4_hours                                                                     0
4hrs_from_arrival                                                                       0
ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge     0
type_1_admissions                                                                       0
type_2_admissions                                                                       0
type_3_admissions                                                                       0
_seen_4_hours                                                                          14
admissions_4hrs_from_decision                                                          14
admissions_12hrs_from_decision                                                         14
other_emergency_admissions                                                             14
total_emergency_admissions                                                              0
elective_admissions                                                                     0
cancelled_elective_admissions                                                           0
delayed_transfers                                                                       0
bed_days                                                                                0
staff_shortages                                                                         0
covid_admissions                                                                        0
notes                                                                                   0
dtype: int64

In [11]:
numerical_cols = df.select_dtypes(include='number').columns.tolist()
categorical_cols = df.select_dtypes(include='object').columns.tolist()

print("Numerical columns:", numerical_cols)
print("Categorical columns:", categorical_cols)

Numerical columns: ['type_1_ae_attendances', 'type_2_ae_attendances', 'type_3_ae_attendances', 'total_ae_attendances', 'seen_4_hours', 'type_2_seen_4_hours', 'type_3_seen_4_hours', '4hrs_from_arrival', 'ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge', 'type_1_admissions', 'type_2_admissions', 'type_3_admissions', 'total_emergency_admissions', 'elective_admissions', 'cancelled_elective_admissions', 'delayed_transfers', 'bed_days', 'staff_shortages', 'covid_admissions', 'notes']
Categorical columns: ['provider_code', 'region', 'trust_name', '_seen_4_hours', 'admissions_4hrs_from_decision', 'admissions_12hrs_from_decision', 'other_emergency_admissions']

In [12]:
df.columns

Index(['provider_code', 'region', 'trust_name', 'type_1_ae_attendances',
       'type_2_ae_attendances', 'type_3_ae_attendances',
       'total_ae_attendances', 'seen_4_hours', 'type_2_seen_4_hours',
       'type_3_seen_4_hours', '4hrs_from_arrival',
       'ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge',
       'type_1_admissions', 'type_2_admissions', 'type_3_admissions',
       '_seen_4_hours', 'admissions_4hrs_from_decision',
       'admissions_12hrs_from_decision', 'other_emergency_admissions',
       'total_emergency_admissions', 'elective_admissions',
       'cancelled_elective_admissions', 'delayed_transfers', 'bed_days',
       'staff_shortages', 'covid_admissions', 'notes'],
      dtype='object')

In [13]:
df.drop (columns=["notes"], inplace=True)

In [17]:
df[numerical_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
type_1_ae_attendances,212.0,7325.066038,7131.374008,0.0,0.00,7302.0,11723.00,34819.0
type_2_ae_attendances,212.0,241.683962,714.673272,0.0,0.00,0.0,0.00,5789.0
type_3_ae_attendances,212.0,4399.349057,4053.300446,0.0,1428.50,3251.5,6614.00,18069.0
total_ae_attendances,212.0,11963.853774,9633.364782,0.0,3198.50,10519.5,17861.25,45364.0
seen_4_hours,212.0,4437.358491,4448.151779,0.0,0.00,4073.5,7107.75,21002.0
type_2_seen_4_hours,212.0,230.797170,685.646857,0.0,0.00,0.0,0.00,5697.0
type_3_seen_4_hours,212.0,4258.966981,3930.225331,0.0,1399.25,3157.5,6422.50,16790.0
4hrs_from_arrival,212.0,8971.103774,6967.390173,0.0,3110.75,7897.0,13218.75,33529.0
ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge,212.0,2862.580189,2882.094218,0.0,0.00,2848.0,4478.75,13817.0
type_1_admissions,212.0,10.886792,44.441307,0.0,0.00,0.0,0.00,385.0
type_2_admissions,212.0,135.858491,225.030933,0.0,0.00,25.5,176.50,1464.0
type_3_admissions,212.0,3016.391509,2983.971566,0.0,36.50,2980.5,4676.25,13891.0
total_emergency_admissions,212.0,2027.816038,2081.042550,0.0,0.00,1824.5,3132.00,10425.0
elective_admissions,212.0,6.443396,50.282252,0.0,0.00,0.0,0.00,677.0
cancelled_elective_admissions,212.0,21.551887,78.527335,0.0,0.00,0.0,0.00,566.0
delayed_transfers,212.0,2058.254717,2107.789274,0.0,0.00,1861.5,3184.75,10425.0
bed_days,212.0,684.481132,967.063604,0.0,0.00,305.0,1056.75,7034.0
staff_shortages,212.0,2747.391509,2844.635780,0.0,0.00,2237.0,4535.75,17459.0
covid_admissions,212.0,660.863208,776.064708,0.0,0.00,439.0,1041.25,4549.0

In [18]:
print("Unique Trusts:", df['trust_name'].nunique())
print("Unique Regions:", df['region'].nunique())

Unique Trusts: 198
Unique Regions: 7

In [19]:
# Convert to numeric if needed
df['_seen_4_hours'] = pd.to_numeric(df['_seen_4_hours'], errors='coerce')

# Sort by % seen within 4 hours
top_performers = df.sort_values('_seen_4_hours', ascending=False).head(5)
low_performers = df.sort_values('_seen_4_hours').head(5)

print("Top 5 performers:\n", top_performers[['trust_name', '_seen_4_hours']])
print("Bottom 5 performers:\n", low_performers[['trust_name', '_seen_4_hours']])

Top 5 performers:
                               trust_name  _seen_4_hours
167           Reading Urgent Care Centre            1.0
38             The Pinn Unregistered Wic            1.0
43                            Badger Ltd            1.0
48                 Dhu Health Care C.I.C            1.0
49   Erdington GP Health & Wellbeing Wic            1.0
Bottom 5 performers:
                                            trust_name  _seen_4_hours
120                           East Cheshire NHS Trust       0.515052
75      The Shrewsbury And Telford Hospital NHS Trust       0.524814
62          Nottingham University Hospitals NHS Trust       0.530142
97       Hull University Teaching Hospitals NHS Trust       0.585066
188  Royal United Hospitals Bath NHS Foundation Trust       0.585483

In [20]:
df[numerical_cols].max().sort_values(ascending=False)

total_ae_attendances                                                                   45364.0
type_1_ae_attendances                                                                  34819.0
4hrs_from_arrival                                                                      33529.0
seen_4_hours                                                                           21002.0
type_3_ae_attendances                                                                  18069.0
staff_shortages                                                                        17459.0
type_3_seen_4_hours                                                                    16790.0
type_3_admissions                                                                      13891.0
ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge    13817.0
delayed_transfers                                                                      10425.0
total_emergency_admissions                                                             10425.0
bed_days                                                                                7034.0
type_2_ae_attendances                                                                   5789.0
type_2_seen_4_hours                                                                     5697.0
covid_admissions                                                                        4549.0
type_2_admissions                                                                       1464.0
elective_admissions                                                                      677.0
cancelled_elective_admissions                                                            566.0
type_1_admissions                                                                        385.0
dtype: float64

In [21]:
df.corr(numeric_only=True)['_seen_4_hours'].sort_values(ascending=False)

_seen_4_hours                                                                          1.000000
type_3_seen_4_hours                                                                   -0.054411
elective_admissions                                                                   -0.066204
type_3_ae_attendances                                                                 -0.067790
cancelled_elective_admissions                                                         -0.145228
type_1_admissions                                                                     -0.152091
type_2_seen_4_hours                                                                   -0.167764
type_2_ae_attendances                                                                 -0.170453
type_2_admissions                                                                     -0.266429
4hrs_from_arrival                                                                     -0.453925
total_ae_attendances                                                                  -0.561922
bed_days                                                                              -0.583004
seen_4_hours                                                                          -0.623705
covid_admissions                                                                      -0.654320
delayed_transfers                                                                     -0.657883
total_emergency_admissions                                                            -0.659099
staff_shortages                                                                       -0.686331
type_1_ae_attendances                                                                 -0.692419
type_3_admissions                                                                     -0.746048
ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge   -0.748351
Name: _seen_4_hours, dtype: float64

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 26 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   provider_code                                                                        198 non-null    object
 1   region                                                                               198 non-null    object
 2   trust_name                                                                           198 non-null    object
 3   type_1_ae_attendances                                                                212 non-null    float64
 4   type_2_ae_attendances                                                                212 non-null    float64
 5   type_3_ae_attendances                                                                212 non-null    float64
 6   total_ae_attendances                                                                 212 non-null    float64
 7   seen_4_hours                                                                         212 non-null    float64
 8   type_2_seen_4_hours                                                                  212 non-null    float64
 9   type_3_seen_4_hours                                                                  212 non-null    float64
 10  4hrs_from_arrival                                                                    212 non-null    float64
 11  ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge  212 non-null    float64
 12  type_1_admissions                                                                    212 non-null    float64
 13  type_2_admissions                                                                    212 non-null    float64
 14  type_3_admissions                                                                    212 non-null    float64
 15  _seen_4_hours                                                                        198 non-null    object
 16  admissions_4hrs_from_decision                                                        198 non-null    object
 17  admissions_12hrs_from_decision                                                       198 non-null    object
 18  other_emergency_admissions                                                           198 non-null    object
 19  total_emergency_admissions                                                           212 non-null    float64
 20  elective_admissions                                                                  212 non-null    float64
 21  cancelled_elective_admissions                                                        212 non-null    float64
 22  delayed_transfers                                                                    212 non-null    float64
 23  bed_days                                                                             212 non-null    float64
 24  staff_shortages                                                                      212 non-null    float64
 25  covid_admissions                                                                     212 non-null    float64
dtypes: float64(19), object(7)
memory usage: 43.2+ KB
None

In [16]:
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()

In [9]:
df.describe(include='all')

,provider_code,region,trust_name,type_1_ae_attendances,type_2_ae_attendances,type_3_ae_attendances,total_ae_attendances,seen_4_hours,type_2_seen_4_hours,type_3_seen_4_hours,...,admissions_12hrs_from_decision,other_emergency_admissions,total_emergency_admissions,elective_admissions,cancelled_elective_admissions,delayed_transfers,bed_days,staff_shortages,covid_admissions,notes
count,198,198,198,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,...,198,198,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000
unique,198,7,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24,129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,RC9,NHS England Midlands,Bedfordshire Hospitals NHS Foundation Trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,43,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,160,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,7325.066038,241.683962,4399.349057,11963.853774,4437.358491,230.797170,4258.966981,...,NaN,NaN,2027.816038,6.443396,21.551887,2058.254717,684.481132,2747.391509,660.863208,222.608491
std,NaN,NaN,NaN,7131.374008,714.673272,4053.300446,9633.364782,4448.151779,685.646857,3930.225331,...,NaN,NaN,2081.042550,50.282252,78.527335,2107.789274,967.063604,2844.635780,776.064708,345.414230
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,1428.500000,3198.500000,0.000000,0.000000,1399.250000,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,7302.000000,0.000000,3251.500000,10519.500000,4073.500000,0.000000,3157.500000,...,NaN,NaN,1824.500000,0.000000,0.000000,1861.500000,305.000000,2237.000000,439.000000,30.500000
75%,NaN,NaN,NaN,11723.000000,0.000000,6614.000000,17861.250000,7107.750000,0.000000,6422.500000,...,NaN,NaN,3132.000000,0.000000,0.000000,3184.750000,1056.750000,4535.750000,1041.250000,372.000000
max,NaN,NaN,NaN,34819.000000,5789.000000,18069.000000,45364.000000,21002.000000,5697.000000,16790.000000,...,NaN,NaN,10425.000000,677.000000,566.000000,10425.000000,7034.000000,17459.000000,4549.000000,1838.000000

In [2]:
df.head()

,provider_code,region,trust_name,type_1_ae_attendances,type_2_ae_attendances,type_3_ae_attendances,total_ae_attendances,seen_4_hours,type_2_seen_4_hours,type_3_seen_4_hours,...,admissions_12hrs_from_decision,other_emergency_admissions,total_emergency_admissions,elective_admissions,cancelled_elective_admissions,delayed_transfers,bed_days,staff_shortages,covid_admissions,notes
0,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026.0,0.0,9599.0,26625.0,9553.0,0.0,9599.0,...,-,1,4678.0,0.0,0.0,4678.0,2325.0,7003.0,9.0,9.0
1,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282.0,0.0,6535.0,17817.0,6325.0,0.0,6400.0,...,-,0.9793420045906657,2764.0,0.0,35.0,2799.0,436.0,3235.0,1030.0,417.0
2,RWH,NHS England East Of England,East And North Hertfordshire NHS Trust,9225.0,0.0,8769.0,17994.0,4618.0,0.0,8660.0,...,-,0.987569848329342,2849.0,0.0,3.0,2852.0,228.0,3080.0,407.0,170.0
3,RDE,NHS England East Of England,East Suffolk And North Essex NHS Foundation Trust,13117.0,0.0,15563.0,28680.0,7469.0,0.0,15008.0,...,-,0.9643384951487503,6306.0,0.0,386.0,6692.0,1212.0,7904.0,1709.0,733.0
4,RY4,NHS England East Of England,Hertfordshire Community NHS Trust,0.0,0.0,1223.0,1223.0,0.0,0.0,1185.0,...,-,0.9689288634505315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
import pandas as pd

# Load your Excel or CSV file
df = pd.read_csv("/Users/winifred/Documents/NHS-Wait-Time-Analysis/Data/Cleaned/nhs_ae_cleaned.csv")  # or use pd.read_csv()

# Clean column names
df.columns = (
    df.columns
    .str.strip()  # remove leading/trailing spaces
    .str.lower()
    .str.replace(r"[^\w\s]", "", regex=True)  # remove special characters
    .str.replace(r"\s+", "_", regex=True)  # replace spaces with underscores
)

# Preview new headers
print(df.columns.tolist())

# Save cleaned version (optional)
df.to_csv("/Users/winifred/Documents/NHS-Wait-Time-Analysis/Data/Cleaned/nhs_ae_cleaned.csv", index=False)

['provider_code', 'region', 'trust_name', 'type_1_ae_attendances', 'type_2_ae_attendances', 'type_3_ae_attendances', 'total_ae_attendances', 'seen_4_hours', 'type_2_seen_4_hours', 'type_3_seen_4_hours', '4hrs_from_arrival', 'ae_attendances_greater_than_4_hours_from_arrival_to_admission_transfer_or_discharge', 'type_1_admissions', 'type_2_admissions', 'type_3_admissions', '_seen_4_hours', 'admissions_4hrs_from_decision', 'admissions_12hrs_from_decision', 'other_emergency_admissions', 'total_emergency_admissions', 'elective_admissions', 'cancelled_elective_admissions', 'delayed_transfers', 'bed_days', 'staff_shortages', 'covid_admissions', 'notes']

In [4]:
import pandas as pd

df = pd.read_csv ("/Users/winifred/Documents/NHS-Wait-Time-Analysis/Data/Cleaned/nhs_ae_cleaned.csv")

df. head()

,Provider_Code,Region,Trust Name,Type 1 A&E Attendances,Type 2 A&E Attendances,Type 3 A&E Attendances,Total A&E Attendances,Seen <4 Hours,Type 2 Seen <4 Hours,Type 3 Seen <4 Hours,...,Admissions >12hrs from Decision,Other Emergency Admissions,Total Emergency Admissions,Elective Admissions,Cancelled Elective Admissions,Delayed Transfers,Bed Days,Staff Shortages,Covid Admissions,Notes
0,RC9,NHS England East Of England,Bedfordshire Hospitals NHS Foundation Trust,17026.0,0.0,9599.0,26625.0,9553.0,0.0,9599.0,...,-,1,4678.0,0.0,0.0,4678.0,2325.0,7003.0,9.0,9.0
1,RGT,NHS England East Of England,Cambridge University Hospitals NHS Foundation ...,11282.0,0.0,6535.0,17817.0,6325.0,0.0,6400.0,...,-,0.9793420045906657,2764.0,0.0,35.0,2799.0,436.0,3235.0,1030.0,417.0
2,RWH,NHS England East Of England,East And North Hertfordshire NHS Trust,9225.0,0.0,8769.0,17994.0,4618.0,0.0,8660.0,...,-,0.987569848329342,2849.0,0.0,3.0,2852.0,228.0,3080.0,407.0,170.0
3,RDE,NHS England East Of England,East Suffolk And North Essex NHS Foundation Trust,13117.0,0.0,15563.0,28680.0,7469.0,0.0,15008.0,...,-,0.9643384951487503,6306.0,0.0,386.0,6692.0,1212.0,7904.0,1709.0,733.0
4,RY4,NHS England East Of England,Hertfordshire Community NHS Trust,0.0,0.0,1223.0,1223.0,0.0,0.0,1185.0,...,-,0.9689288634505315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0